
<!DOCTYPE html>
<html>
<head>
    <title>test</title>
</head>
<body>
<form action="/login" method="post" name="frm_login" id="frm_login">
    <div>
        <label>UserId:</label>
        <input type="text" name="id"/><br/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="pw"/>
    </div>
    <div>
        <label>Private_key:</label>
        <input type="text" name="private_key"/><br/>
    </div>
    <div>
        <input type="submit" value="Login"/>
    </div>
</form>
</body>
</html>

