<!DOCTYPE html>
<html>
<head>
    <title>test</title>
</head>
<body>
	<div>
		<% if(user_id){ %>
			<div>
				hi <%= user_id %>
			</div>
			<div>
				<button onclick="location.href='logout'">logout </button>
			</div>
		<% } else { %>
			<div>
				<button onclick="location.href='login'">login </button>
				<button onclick="location.href='signup'">sign up </button>
			</div>
		<% } %>
	</div>

<form action="/vote" method="post" name="vote" id="vote">
  <ul>
    <li>
      <input type="radio" name="radioTxt" value="Jaejin" checked>재진
    </li>
    <li>
      <input type="radio" name="radioTxt" value="Nayoung">나영
    </li>
    <li>
      <input type="radio" name="radioTxt" value="Beongku">병구
    </li>
  </ul>

  <input type="submit" value="Vote!!"/>
</form>

</body>
</html>

