<!DOCTYPE html>
<html>
<head>
    <title>test</title>
</head>
<body>
	<div>
		<% if(user_id){ %>
		    	<% if(user_id == 'admin') {%>
				<div>
					<button onclick="location.href='candidate'"> add candidate </button>
				</div>
			<% } %>

			<div>
				hi <%= user_id %>  
				your address is <%= user_address %>
			</div>
			<div>
				<button onclick="location.href='logout'">logout </button>
			</div>
		<% } else { %>
			<div>
				<button onclick="location.href='login'">login </button>
				<button onclick="location.href='signup'">sign up </button>
			</div>
		<% } %>
	</div>
	<% if(user_id){ %>
	<form action="/vote" method="post" name="vote" id="vote">
  	<ul>
    		<% for (var i = 0; i<numcandidate; i++) { %>
    			<li>
			<input type="radio" name="radioTxt" value= <%= numcandidate %>> <%= jaejin[i] %>
			</li>
    		<% } %>
    	<li>
      		<input type="radio" name="radioTxt" value="Jaejin" checked>재진
    	</li>
    	<li>
      		<input type="radio" name="radioTxt" value="Nayoung">나영
    	</li>
  	</ul>

  		<input type="submit" value="Vote!!"/>
	</form>
	<div>
		<button onclick="location.href='voted'"> 투표수 확인 </button>
	</div>
	<div>
		<button onclick="location.href='voted_name'"> 나의투표확인 </button>
	</div>

	<% } %>

</body>
</html>

