<!DOCTYPE html>
<html>
<head>
    <title>loginError!</title>
</head>
<body>
  <script>
    alert("use login possible after mining");
  </script>
  <%= data %>
  save private key 
  <button onclick="location.href='/'">OK </button>
  

</body>
</html>

